
@{
    ViewBag.Title = "Confirmation";
}

<center>
    <div class="alert alert-success">
        <h1><strong>Success!</strong></h1>

        <h4>@ViewBag.ItemName, was successfully processed.</h4>
    </div><br /><br />

    <h2>Thank you for visiting the Perk-Up Coffee+ Web Application!</h2>
</center>