@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    One Black Bean<br />
    Detroit, MI 48226<br />
    <abbr title="Phone">P:</abbr>
    313-224-7600
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@Perk-UpCoffee.com">Support@Marketing@Perk-UpCoffee.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@Perk-UpCoffee.com">Marketing@Perk-UpCoffee.com.com</a>
</address>