@{
    ViewBag.Title = "Home Page";
}

<center>
    <div class="jumbotron">
        <h1>GREETINGS!</h1>
        <p class="lead">Welcome to the User Registration for the Cafe Au Lait Web Application.</p>
    </div>

    <div>
        <h2>To Register</h2>
        <p><a class="btn btn-primary" href="/Home/Registration">Click Here&raquo;</a></p>
    </div>
</center>
