@*not sure if adding @using Lab21_CoffeeShopWebApplication.Controllers will work *@
@using Lab21_CoffeeShopWebApplication.Controllers

@{
    ViewBag.Title = "Registration";
}

<center>
    <h1>REGISTRATION FORM</h1>
</center>

<h2>Please fill out the form to register. Thank you in advance!</h2><br />

@*this form will take input from the user and send it to my Welcome action result*@

<form action="/Home/Welcome" onsubmit="checkForm()">

    <input type="text" name="firstName" placeholder="First Name" />

    <input type="text" name="lastName" placeholder="Last Name" /><br /><br />

    <p>Please select gender:</p>
    Male: <input type="radio" id="myRadio">
    Female: <input type="radio" id="myRadio"><br /><br />

    <input type="text" name="mailAddress" placeholder="Street Address" />

    <input type="text" name="city" placeholder="City" />

    <input type="text" name="state" placeholder="State Abbreviation" />

    <input type="number" name="zipCode" placeholder="Zip Code" /><br /><br />

    <input type="text" name="emailAddress" placeholder="Email Address" /><br /><br />

    <input type="number" name="phoneNumber" placeholder="Phone Number (no spaces)" /><br /><br />

    <input type="text" name="passWord1" placeholder="Create Password" />
    <input type="text" name="passWord2" placeholder="Re-enter Password" /><br /><br />

    <input type="submit" value="Submit" class="btn btn-primary" onclick="checkForm()" />
</form>


<script>
    Console.WriteLine(1);
    function validName1() {
        var letters1 = /^[A-Za-z]+$/;
        if (firstName.value.match(letters1)) {
            return true;
        }
        else {
            alert("message");
            return false;
        }
    }
</script>
Console.WriteLine("z");
<script>
    Console.WriteLine("2");
    function validName2() {
        var letters2 = /^[A-Za-z]+$/;
        if (lastName.value.match(letters2)) {
            return true;
        }
        else {
            alert("message");
            return false;
        }
    }
</script>

<script>
    Console.WriteLine(3);
    function validPassword() {
        var result = true;

        var pass1 = document.logon.passWord1.value;
        var pass2 = document.logon.passWord2.value;

        if (pass1.length < 8) {
            alert("Your password needs to be at least 8 characters. Please try again.");
            result = false;
        } else if (pass1 != pass2) {
            alert("Your passwords don't match. Please try again.");
            result = false;
        }
        return result;
    }
</script>

<script>
    Console.WriteLine(4);
    function validEmail() {
        if (/^\w+([\.-]?\w+)*@@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(myForm.emailAddress.value)) {
            return (true);
        }
        alert("You have entered an invalid email address!");
        return (false);
    }
</script>

<script>
    Console.WriteLine(5);
    function validPhone() {
        var validnum = /^\d{10}$/;
        if ((phoneNumber.value.match(validnum))) {
            return true;
        }
        else {
            alert("message");
            return false;
        }
    }
</script>

@*<script>
        function validButton() {
            var x = document.getElementById("myRadio");
            x.checked = true;
        }
    </script>
*@

<script>
    Console.WriteLine(6);
    function checkForm() {
        return validName1() && validName2 && validPassword() && validEmail() && validPhone();
    }
</script>




