
@{
    ViewBag.Title = "Registration";
}

<h2>Please fill out the form to register. Thank you in advance!</h2>

@*this form will take input from the user and send it to my Welcome action result*@

<form action="/Home/Welcome">


    <input type="text" name="firstName" placeholder="First Name" /><br />

    <input type="text" name="lastName" placeholder="Last Name" /><br />

    <input type="text" name="emailAddress" placeholder="Email Address" /><br />

    <input type="number" name="phoneNumber" placeholder="Phone Number (no spaces)" /><br />

    <input type="text" name="passWord" placeholder="Create Password" /><br />
    <input type="text" name="passWord" placeholder="Enter Password Again" /><br />

    <input type="submit" value="Submit" />

</form>

<h1>@ViewBag.First</h1>

