
@using Lab21_CoffeeShopWebApplication.Controllers

@{
    ViewBag.Title = "Registration";
}

<center>
    <h1>REGISTRATION FORM</h1>
</center>

<h3>Please complete form to register. Thank you in advance!</h3><br />

@*this form will take input from the user and send it to my Welcome action result*@


<form action="/Home/Welcome" class="form1" onsubmit="return validName1(), validName2(), validPhone()">

    <input type="text" id="first" name="firstName" placeholder="First Name" />

    <input type="text" id="last" name="lastName" placeholder="Last Name" /><br /><br />

    <p>Please select gender:</p>
    Male: <input name="gender" type="radio" id="myRadio">
    Female: <input name="gender" type="radio" id="myRadio"><br /><br />

    <input type="text" name="mailAddress" placeholder="Street Address" />

    <input type="text" name="city" placeholder="City" />

    <input type="text" name="state" placeholder="State Abbreviation" />

    <input type="number" name="zipCode" placeholder="Zip Code" /><br /><br />

    <input type="text" name="emailAddress" placeholder="Email Address" /><br /><br />

    <input type="number" id="phone " name="phoneNumber" placeholder="Phone Number" /><br /><br />

    <input type="text" name="passWord1" placeholder="Create Password" />
    <input type="text" name="passWord2" placeholder="Re-enter Password" /><br /><br /><br />
    Click to Complete Registration:
    <input type="submit" value="Submit" class="btn btn-primary btn-lg" /><br /><br />
    <p>To Clear Form:</p>
    <a class="btn btn-danger btn-lg" href="/Home/Registration">Reset&raquo;</a>
</form>


<script>

    function validName1() {
        var letters1 = /^[A-Za-z]+$/;
        var first = document.getElementById("first").value;
        if (letters1.test(first)) {
            return true;
        }
        else {
            alert("INVALID INPUT. Only alpha characters permitted.");
            return false;
        }
    }
</script>
<script>
    function validName2() {
        var letters2 = /^[A-Za-z]+$/;
        var last = document.getElementById("last").value;
        if (letters2.test(last)) {
            return true;
        }
        else {
            alert("INVALID INPUT. Only alpha characters permitted.");
            return false;
        }
    }
</script>

<script>
    console.log("5");
    function validPhone() {
        var validnum = /^\d{10}$/;
        var validPhone1 = document.getElementById("validnum").value;
        if (validnum.test(validPhone1)) {
            return true;
        }
        else {
            alert("INVALID INPUT. Only ten numeric characters permitted.");
            return false;
        }
    }
</script>

<script>
    console.log("6");
    function checkForm() {
        return validName1() || validName2 || validPhone();
    }
</script>






