

@{
    ViewBag.Title = "Welcome";
}

<center>
    <div class="alert alert-success">
        <h1><strong>Success!</strong></h1>
    </div>
    <h2>Thank you, @ViewBag.First @ViewBag.Last, your registration was successfully processed.</h2>

    <h2>Thank you for visiting the Perk-Up Coffee+ Web Application!</h2>
</center>

